*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  position: relative;
  overflow-x: hidden; }

h1,
h2,
h3 {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0; }

button {
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase; }

a,
a:link,
a:visited {
  text-decoration: none; }

.mobileBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 3; }
  @media (min-width: 1024px) {
    .mobileBtn {
      display: none; } }
  .mobileBtn_icon {
    font-size: 5rem;
    transition: all 0.5s;
    color: #2fbe3d; }

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 8rem;
  background-color: #fefcfc;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 0.5rem #100f0f; }
  @media (min-width: 1024px) {
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; } }
  .header_logo {
    width: 12rem;
    object-fit: cover;
    object-position: center; }
    @media (min-width: 375px) {
      .header_logo {
        width: 13rem; } }
    @media (min-width: 414px) {
      .header_logo {
        width: 14rem; } }
    @media (min-width: 768px) {
      .header_logo {
        width: 15rem; } }
    @media (min-width: 1200px) {
      .header_logo {
        width: 17rem; } }
    @media (min-width: 1440px) {
      .header_logo {
        width: 20rem; } }
  .header_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    width: 100vw;
    height: 0;
    opacity: 0;
    transition: all 0.8s;
    position: fixed;
    top: 8rem; }
    @media (min-width: 1024px) {
      .header_nav {
        width: unset;
        height: inherit;
        position: unset;
        top: unset;
        margin-right: 1rem;
        opacity: 1; } }
    .header_nav--ul {
      opacity: 0;
      transform: translateX(-500%);
      transition: all 0.5s; }
      @media (min-width: 1024px) {
        .header_nav--ul {
          transform: translateX(0);
          opacity: 1; } }
      .header_nav--ul_item {
        list-style-type: none;
        text-align: center;
        background-color: #2fbe3d;
        margin: 2rem auto;
        padding: 0.2rem 3rem;
        cursor: pointer; }
        @media (min-width: 375px) {
          .header_nav--ul_item {
            padding: 0.5rem 5rem; } }
        @media (min-width: 1024px) {
          .header_nav--ul_item {
            display: inline-block;
            transform: translateX(0);
            padding: 0.5rem 1rem;
            margin: 0 0.5rem;
            background-color: inherit;
            cursor: initial; } }
        .header_nav--ul_item--link {
          font-family: "Staatliches", cursive;
          font-size: 2.5rem;
          letter-spacing: 0.3rem;
          text-transform: uppercase;
          color: #fefcfc;
          text-shadow: 0.1rem 0.1rem 0.1rem #100f0f; }
          @media (min-width: 1024px) {
            .header_nav--ul_item--link {
              font-size: 2rem;
              color: #2fbe3d;
              text-shadow: none;
              transition: all 0.5s; }
              .header_nav--ul_item--link:hover {
                color: #48e057; } }

.rotateIcon {
  transform: rotate(180deg);
  transition: transform 0.5s; }

.menuOn {
  height: 100vh;
  opacity: 1;
  transition: all 0.8s; }
  @media (min-width: 1024px) {
    .menuOn {
      height: inherit; } }

.displayItem {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.5s; }

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../img/home_bg.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .home_layout {
    width: 100%;
    height: 100%;
    background-color: #100f0f;
    opacity: 0.6;
    position: absolute;
    top: 0; }
  .home_title {
    width: 100%;
    font-size: 4rem;
    padding: 8rem 0 0 1rem;
    color: #48e057;
    letter-spacing: .2rem;
    text-shadow: 0.1rem 0.1rem 0.3rem #100f0f; }
    @media (min-width: 375px) {
      .home_title {
        font-size: 4.5rem; } }
    @media (min-width: 414px) {
      .home_title {
        font-size: 5rem; } }
    @media (min-width: 768px) {
      .home_title {
        font-size: 7rem; } }
    @media (min-width: 1024px) {
      .home_title {
        width: 55rem; } }

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 10rem 0; }
  @media (min-width: 1024px) {
    .about {
      padding: 15rem 0; } }
  .about_content {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5rem 0;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "img" "paragraph" "vision" "mission"; }
    @media (min-width: 768px) {
      .about_content {
        gap: 10rem 0; } }
    @media (min-width: 1024px) {
      .about_content {
        gap: 15rem 0; } }
    @media (min-width: 768px) {
      .about_content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "title title" "img img" "paragraph paragraph" "vision mission"; } }
    @media (min-width: 1024px) {
      .about_content {
        grid-template-areas: "title title" "paragraph img" "vision mission"; } }
    @media (min-width: 1400px) {
      .about_content {
        width: 90%; } }
    @media (min-width: 1600px) {
      .about_content {
        width: 80%; } }
    .about_content--title {
      font-size: 6rem;
      margin: auto;
      color: #2fbe3d;
      grid-area: title; }
      @media (min-width: 768px) {
        .about_content--title {
          font-size: 8rem; } }
      @media (min-width: 1024px) {
        .about_content--title {
          font-size: 10rem; } }
    .about_content--img {
      width: 30rem;
      height: 30rem;
      margin: auto;
      grid-area: img; }
      @media (min-width: 768px) {
        .about_content--img {
          width: 40rem;
          height: 40rem; } }
    .about_content--paragraphs {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      grid-area: paragraph; }
      @media (min-width: 768px) {
        .about_content--paragraphs {
          width: 85%; } }
      .about_content--paragraphs_text {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        text-align: justify;
        margin: 0.5rem 0; }
        @media (min-width: 1024px) {
          .about_content--paragraphs_text {
            font-size: 2rem; } }
    .about_content--vision, .about_content--mission {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto; }
      @media (min-width: 768px) {
        .about_content--vision, .about_content--mission {
          width: 85%; } }
      .about_content--vision_title, .about_content--mission_title {
        font-size: 3.5rem;
        color: #2fbe3d; }
        @media (min-width: 768px) {
          .about_content--vision_title, .about_content--mission_title {
            font-size: 4.5rem; } }
      .about_content--vision_text, .about_content--mission_text {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        text-align: justify; }
        @media (min-width: 1024px) {
          .about_content--vision_text, .about_content--mission_text {
            font-size: 2rem; } }
    .about_content--vision {
      grid-area: vision; }
    .about_content--mission {
      grid-area: mission; }

.services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 10rem 0;
  background-color: #2fbe3d; }
  @media (min-width: 1024px) {
    .services {
      padding: 15rem 0; } }
  .services_content {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5rem 0;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "services"; }
    @media (min-width: 768px) {
      .services_content {
        gap: 10rem 0; } }
    @media (min-width: 1024px) {
      .services_content {
        gap: 15rem 0; } }
    .services_content--title {
      font-size: 6rem;
      margin: auto;
      color: #fefcfc;
      grid-area: title; }
      @media (min-width: 768px) {
        .services_content--title {
          font-size: 8rem; } }
      @media (min-width: 1024px) {
        .services_content--title {
          font-size: 10rem; } }
    .services_content--boxes {
      display: grid;
      align-items: center;
      justify-content: center;
      margin: auto;
      gap: 5rem 0;
      width: 100%;
      grid-area: services; }
      @media (min-width: 768px) {
        .services_content--boxes {
          gap: 10rem 0; } }
      @media (min-width: 1024px) {
        .services_content--boxes {
          gap: 15rem 0; } }
      @media (min-width: 768px) {
        .services_content--boxes {
          grid-template-columns: repeat(2, 1fr); } }
      @media (min-width: 1024px) {
        .services_content--boxes {
          width: 90%; } }
      @media (min-width: 1200px) {
        .services_content--boxes {
          width: 80%; } }
      @media (min-width: 1440px) {
        .services_content--boxes {
          width: 70%; } }
      @media (min-width: 1440px) {
        .services_content--boxes {
          width: 65%; } }
      .services_content--boxes_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 30rem;
        height: 12rem;
        background-color: #fefcfc;
        color: #2fbe3d;
        margin: auto;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem #100f0f; }
        @media (min-width: 375px) {
          .services_content--boxes_box {
            width: 35rem;
            height: 15rem; } }
        @media (min-width: 1024px) {
          .services_content--boxes_box {
            width: 40rem; } }
        .services_content--boxes_box--icon {
          font-size: 5rem;
          margin-left: 1rem; }
        .services_content--boxes_box--text {
          font-size: 1.8rem;
          padding: 1rem 1.5rem;
          text-align: justify; }
          @media (min-width: 1024px) {
            .services_content--boxes_box--text {
              font-size: 2rem; } }

.photos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 10rem 0; }
  @media (min-width: 1024px) {
    .photos {
      padding: 15rem 0; } }
  .photos_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .photos_content--title {
      font-size: 6rem;
      margin: auto;
      color: #2fbe3d; }
      @media (min-width: 768px) {
        .photos_content--title {
          font-size: 8rem; } }
      @media (min-width: 1024px) {
        .photos_content--title {
          font-size: 10rem; } }

.pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 10rem 0;
  background-color: #2fbe3d; }
  @media (min-width: 1024px) {
    .pricing {
      padding: 15rem 0; } }
  .pricing_content {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5rem; }
    @media (min-width: 1024px) {
      .pricing_content {
        grid-template-columns: repeat(3, 1fr);
        gap: 10rem 4rem; } }
    @media (min-width: 1200px) {
      .pricing_content {
        gap: 10rem; } }
    .pricing_content--title {
      font-size: 6rem;
      margin: auto;
      color: #fefcfc; }
      @media (min-width: 768px) {
        .pricing_content--title {
          font-size: 8rem; } }
      @media (min-width: 1024px) {
        .pricing_content--title {
          font-size: 10rem; } }
      @media (min-width: 768px) {
        .pricing_content--title {
          grid-column: 1/-1; } }
    .pricing_content--card {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr;
      grid-template-rows: 5rem 10rem 1fr 10rem;
      grid-template-areas: "title" "price" "text" "button";
      width: 30rem;
      height: 35rem;
      background-color: #fefcfc;
      box-shadow: 0 0 0.5rem #100f0f;
      border-radius: 1rem; }
      .pricing_content--card_title {
        font-size: 4.5rem;
        color: #2fbe3d;
        grid-area: title;
        margin: auto; }
      .pricing_content--card_price {
        font-size: 3rem;
        grid-area: price;
        margin: auto; }
      .pricing_content--card_text {
        font-size: 1.7rem;
        text-align: justify;
        width: 90%;
        margin: auto;
        grid-area: text; }
      .pricing_content--card_link {
        grid-area: button;
        width: 20rem;
        background-color: #48e057;
        color: #fefcfc;
        padding: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        border-radius: 0.5rem;
        transition: all 0.5s;
        margin: auto; }
        .pricing_content--card_link:hover {
          background-color: #2fbe3d; }

.blog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 10rem 0; }
  @media (min-width: 1024px) {
    .blog {
      padding: 15rem 0; } }
  .blog_content {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5rem 0; }
    @media (min-width: 768px) {
      .blog_content {
        gap: 10rem 0; } }
    @media (min-width: 1024px) {
      .blog_content {
        gap: 15rem 0; } }
    .blog_content--title {
      font-size: 6rem;
      margin: auto;
      color: #2fbe3d; }
      @media (min-width: 768px) {
        .blog_content--title {
          font-size: 8rem; } }
      @media (min-width: 1024px) {
        .blog_content--title {
          font-size: 10rem; } }
    .blog_content--articles {
      display: grid;
      align-items: center;
      justify-content: center;
      margin: auto;
      gap: 5rem 0;
      gap: 10rem 0; }
      @media (min-width: 768px) {
        .blog_content--articles {
          gap: 10rem 0; } }
      @media (min-width: 1024px) {
        .blog_content--articles {
          gap: 15rem 0; } }
      @media (min-width: 768px) {
        .blog_content--articles {
          grid-template-columns: repeat(2, 1fr);
          gap: 10rem 5rem; } }
      @media (min-width: 1024px) {
        .blog_content--articles {
          gap: 15rem 5rem; } }
      @media (min-width: 1200px) {
        .blog_content--articles {
          gap: 15rem; } }
      .blog_content--articles_article {
        display: grid;
        grid-template-columns: 10rem 1fr;
        grid-template-rows: 4rem 12rem 6rem;
        grid-template-areas: "img title" "img paragraph" "img button";
        width: 30rem;
        height: 20rem;
        padding: 3rem 0;
        gap: 0 1rem; }
        @media (min-width: 375px) {
          .blog_content--articles_article {
            width: 35rem; } }
        @media (min-width: 1024px) {
          .blog_content--articles_article {
            width: 45rem; } }
        .blog_content--articles_article--img {
          width: 10rem;
          height: 20rem;
          object-fit: cover;
          object-position: center;
          grid-area: img;
          align-self: center; }
        .blog_content--articles_article--title {
          font-size: 3.5rem;
          grid-area: title;
          align-self: center;
          justify-self: center; }
        .blog_content--articles_article--text {
          font-size: 1.5rem;
          text-align: justify;
          grid-area: paragraph;
          align-self: center;
          justify-self: center; }
        .blog_content--articles_article--link {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 15rem;
          height: 5rem;
          font-size: 1.5rem;
          background-color: #48e057;
          transition: all 0.5s;
          border-radius: 0.5rem;
          text-align: center;
          color: #fefcfc;
          grid-area: button;
          align-self: center;
          justify-self: center; }
          .blog_content--articles_article--link:hover {
            background-color: #2fbe3d; }

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 10rem 0;
  background-color: #2fbe3d;
  color: #fefcfc; }
  @media (min-width: 1024px) {
    .contact {
      padding: 15rem 0; } }
  .contact_content {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 5rem 0; }
    @media (min-width: 768px) {
      .contact_content {
        gap: 10rem 0; } }
    @media (min-width: 1024px) {
      .contact_content {
        gap: 15rem 0; } }
    .contact_content--title {
      font-size: 6rem;
      margin: auto;
      color: #fefcfc; }
      @media (min-width: 768px) {
        .contact_content--title {
          font-size: 8rem; } }
      @media (min-width: 1024px) {
        .contact_content--title {
          font-size: 10rem; } }
    .contact_content--paragraph {
      font-size: 1.8rem;
      padding: 1rem 1.5rem;
      text-align: justify; }
      @media (min-width: 1024px) {
        .contact_content--paragraph {
          font-size: 2rem; } }
      @media (min-width: 768px) {
        .contact_content--paragraph {
          width: 65rem; } }
      @media (min-width: 768px) {
        .contact_content--paragraph {
          width: 75rem; } }
    .contact_content--infos {
      display: grid;
      align-items: center;
      justify-content: center;
      margin: auto;
      gap: 5rem 0; }
      @media (min-width: 768px) {
        .contact_content--infos {
          gap: 10rem 0; } }
      @media (min-width: 1024px) {
        .contact_content--infos {
          gap: 15rem 0; } }
      @media (min-width: 768px) {
        .contact_content--infos {
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas: "map phone" "map social";
          gap: 0 5rem; } }
      @media (min-width: 1024px) {
        .contact_content--infos {
          gap: 0 10rem; } }
      @media (min-width: 1200px) {
        .contact_content--infos {
          gap: 0 15rem; } }
      .contact_content--infos_phone {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; }
        @media (min-width: 768px) {
          .contact_content--infos_phone {
            grid-area: phone; } }
        .contact_content--infos_phone--icon {
          font-size: 4.5rem;
          margin: 0 1rem; }
        .contact_content--infos_phone--number {
          font-size: 1.8rem;
          margin: 0 1rem;
          letter-spacing: 0.1rem; }
      .contact_content--infos_map {
        width: 30rem;
        border-radius: 1rem; }
        @media (min-width: 768px) {
          .contact_content--infos_map {
            grid-area: map; } }
      .contact_content--infos_social {
        display: grid;
        width: 30rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem 0;
        margin: auto; }
        @media (min-width: 768px) {
          .contact_content--infos_social {
            grid-area: social; } }
        .contact_content--infos_social--text {
          font-size: 1.8rem;
          padding: 1rem 1.5rem;
          text-align: justify;
          grid-column: 1/-1;
          align-self: center;
          justify-self: center; }
          @media (min-width: 1024px) {
            .contact_content--infos_social--text {
              font-size: 2rem; } }
        .contact_content--infos_social--link {
          align-self: center;
          justify-self: center; }
          .contact_content--infos_social--link_icon {
            font-size: 4.5rem; }

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #100f0f;
  color: #48e057;
  height: 5rem;
  font-size: 1rem; }
  @media (min-width: 375px) {
    .footer {
      font-size: 1.3rem; } }
  @media (min-width: 414px) {
    .footer {
      font-size: 1.5rem; } }
  @media (min-width: 768px) {
    .footer {
      justify-content: flex-end;
      padding-right: 1rem; } }
