//Variables Fonts
$main-font: "Montserrat", sans-serif;
$title-font: "Staatliches", cursive;

//Variables Colors
$black-color: #100f0f;
$white-color: #fefcfc;
$green-color: #2fbe3d;
$light-green-color: #48e057;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: $main-font;
  line-height: 1.7;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: $title-font;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

a,
a:link,
a:visited {
  text-decoration: none;
}
