.footer {
  @include flex(row, center, center);
  background-color: $black-color;
  color: $light-green-color;
  height: 5rem;
  font-size: 1rem;

  @media (min-width: 375px) {
    font-size: 1.3rem;
  }

  @media (min-width: 414px) {
    font-size: 1.5rem;
  }

  @media (min-width: 768px) {
    justify-content: flex-end;
    padding-right: 1rem;
  }
}
