.services {
  @include section-page;
  background-color: $green-color;

  @media (min-width: 768px) {
    height: 100vh;
  }

  &_content {
    @include grid(center, center);
    gap: 5rem 0;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;
    }

    &--title {
      @include section-title;
      color: $white-color;

      @media (min-width: 768px) {
        grid-column: 1/-1;
        grid-row: 1/2;
      }
    }

    &--box {
      @include flex(row, center, space-between);
      width: 30rem;
      height: 12rem;
      background-color: $white-color;
      color: $green-color;
      margin: auto;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.5rem $black-color;

      @media (min-width: 375px) {
        width: 35rem;
        height: 15rem;
      }

      @media (min-width: 1024px) {
        width: 40rem;
      }

      &_icon {
        font-size: 5rem;
        margin-left: 1rem;
      }

      &_text {
        @include section-paragraph;
      }
    }
  }
}
