.services {
  @include section-page;
  background-color: $green-color;

  &_content {
    @include grid(center, center);
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "services";

    &--title {
      @include section-title($white-color);
      grid-area: title;
    }

    &--boxes {
      @include grid(center, center);
      width: 100%;
      grid-area: services;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1024px) {
        width: 90%;
      }

      @media (min-width: 1200px) {
        width: 80%;
      }

      @media (min-width: 1440px) {
        width: 70%;
      }

      @media (min-width: 1440px) {
        width: 65%;
      }

      &_box {
        @include flex(row, center, space-between);
        width: 30rem;
        height: 12rem;
        background-color: $white-color;
        color: $green-color;
        margin: auto;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem $black-color;

        @media (min-width: 375px) {
          width: 35rem;
          height: 15rem;
        }

        @media (min-width: 1024px) {
          width: 40rem;
        }

        &--icon {
          font-size: 5rem;
          margin-left: 1rem;
        }

        &--text {
          @include section-paragraph;
        }
      }
    }
  }
}
